<div class="card">
  <div class="card-header">
    <h4>New Friend</h4>
  </div>
  <div class="card-body">
    <%= render 'form', friend: @friend %>
    <%= link_to 'Back', friends_path %>
  </div>
</div>


